.Quarter{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color:white;
    border: 1px solid #CCCCCC;
    border-radius:200px;
}
.Circle{
    width:250px;
    height:250px;
    border-radius:50%;
    background-color: red;
}